/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    background-color: white;
}

header {
    background-color: #FDF1EB;
}

/* Barra lateral */

aside {
background-color: #ffff;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
position: absolute;
margin-top: -131px;
height: 100%;
width: 220px
}

/* Menu sidebar */

.menu-side li {
padding: 7px 0px 7px 20px;
border-bottom: 2px solid #E7E7E7;
}

.menu-side ul {
padding: 0px;
}

.menu-side a {   
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px; 
color: #725C5C;
text-decoration: none;
}

#apresentacao, #comites, #autores, #eixos-tematicos, #contato {
width: 220px;
height: 33px;
}

.menu-side li:active, #trabalho {
background-color:#FDF1EB;
border-left: 5px solid #ED7839;
color: #725C5C;
}

.menu-side li:hover {
background-color: #FDF1EB;
}

/* Logotipo da Sidebar */

.titulo-side {
color: #ffff;
background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%); 
height: 68px;
display: flex;
flex-direction: column;
align-items: center;
}

.titulo-side h1 {
position: absolute;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
justify-content: center;
padding-top: 15px;
}









