/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    background-color: white;
    display: flex;
}

header {
    background-color: #FDF1EB;
    width: 100%;
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}

/* Barra lateral */

aside {
    background-color: #ffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    height: 100%;
    width: 220px
}

/* Menu sidebar */

.menu-side li {
    padding: 7px 0px 7px 20px;
    border-bottom: 2px solid #E7E7E7;
}

.menu-side ul {
    padding: 0px;
}

.menu-side a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    text-decoration: none;
}

#apresentacao,
#comites,
#autores,
#eixos-tematicos,
#contato {
    width: 220px;
    height: 33px;
}

.menu-side li:active,
#trabalho {
    background-color: #FDF1EB;
    border-left: 5px solid #ED7839;
    color: #725C5C;
}

.menu-side li:hover {
    background-color: #FDF1EB;
}

/* Logotipo da Sidebar */

.titulo-side {
    color: #ffff;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-side h1 {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    padding-top: 15px;
}

/* Cabeçalho da página */

.texto-inicial {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 57px;
    padding-top: 5px;
    margin: 0;
}

.texto-inicial h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #725C5C;
    margin: 0;
}

.texto-inicial p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
    margin: 0;
}

.texto-inicial h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6px;
    padding: 10px;
    padding-right: 0px;
    margin-right: 0px;
}

.dados-login {
    position: absolute;
    width: 72px;
    height: 18px;
    margin-left: -150px;
    top: 17px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #333333;
}

.dados-login p {
    margin: 0;
    text-align: right;
    float: right;
}

.email {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

.login-img img {
    border-radius: 100%;
    margin-bottom: 9px;
    position: absolute;
}

.login-img {
    margin-right: 30px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
}

.notificacao {
    background: red;
    color: white;
    border-radius: 100%;
    width: 10px;
    height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    padding-left: 2px;
    letter-spacing: -0.02em;
    position: relative;
    left: 23px;
}

.botao-seletor {
    position: absolute;
    width: 97px;
    height: 34px;
    top: 17px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

#linguagem {
    border: none;
    background: #FDF1EB;
    position: absolute;
    padding: 5px 0px 5px 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/* Conteúdo principal */

.post-header {
    position: absolute;
    left: 250px;
    top: 90px;
    width: 100%;
}

.post-header span {
    position: absolute;
    left: 820px;
    margin-left: 15px;
    position: absolute;
    height: 25px;
    right: 0px;
    top: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: 0.05em;
    color: #ED7839;
}

.post-options {
    position: absolute;
    left: 845px;
    max-height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}

#download-button, #favorite-button, #doi-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
}


.post-title {
    position: absolute;
    height: 54px;
    left: 0px;
    right: 273px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: #ED7839;
    width: 768px;
}

#video-content {
    position: absolute;
    left: 250px;
    top: 160px;
}

.container-video {
    position: absolute;
    width: 784px;
    height: 439px;
    left: 2px;
    background: url(../imgs/dewey\ 1.svg);
}

.container-video h3 {
    position: absolute;
    height: 54px;
    left: 34px;
    right: 297px;
    top: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 104%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 738px;
}

.autor {
    position: absolute;
    height: 36px;
    left: 134px;
    right: 473px;
    top: 300px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 74%;
    letter-spacing: 0.05em;
    color: #FFFFFF
}

.autor-local {
    position: absolute;
    height: 27px;
    left: 136px;
    right: 506px;
    top: 330px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.master-round {
    width: 84px;
    height: 86px;
    position: absolute;
    left: 25px;
    top: 290px;
    border-radius: 100%;
    border: 1px solid #ED7839;
}

.video-details {
    position: absolute;
    width: 242px;
    height: 439px;
    left: 816px;
    top: 0px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.details-title {
    position: absolute;
    width: 242px;
    height: 45px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
}

.p-details {
    position: absolute;
    width: 212px;
    top: 22px;
    left: 15px;
    bottom: 1273px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}

.details-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45px;
    padding: 14px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

.details-author {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2%;
}

.universities {
    letter-spacing: 2%;
    line-height: 16.8px;
    height: 100%;
    color: #5C5C5C;
}

.scroll {
    position: relative;
    left: 220px;
    /* bottom: 500px; */
}

.details-up-scroll {
    background: #bfbfbf;
    position: absolute;
    border-radius: 5px;
    width: 3px;
    height: 200px;
    bottom: 480px;
}

.details-down-scroll {
    background-color: #E7E7E7;
    border-radius: 5px;
    position: absolute;
    width: 3px;
    height: 200px;
    bottom: 300px;
}