/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-size: 100%;
    background-color: white;
    display: flex;
    overflow-x: hidden;
}

header {
    background-color: #FDF1EB;
    width: 100vw;
    height: 8.7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

/* Barra lateral */

aside {
    background-color: #ffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    height: 100%;
    width: 220px;
}

/* Menu sidebar */

#menuSide li {
    padding: 7px 0px 7px 20px;
    border-bottom: 2px solid #E7E7E7;
}

#menuSide ul {
    padding: 0px;
    width: 100%;
}

#menuSide {
    display: flex;
    justify-content: left;

}

#menuSide a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
    text-decoration: none;
}

#apresentacao,
#comites,
#autores,
#eixos-tematicos,
#contato {
    width: 220px;
    height: 33px;
}

#menuSide li:active,
#trabalho {
    background-color: #FDF1EB;
    border-left: 5px solid #ED7839;
    color: #725C5C;
}

#menuSide li:hover {
    background-color: #FDF1EB;
}

/* Logotipo da Sidebar */

.titulo-side {
    color: #ffff;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-side h1 {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    padding-top: 15px;
}

/* Cabeçalho da página */

.texto-inicial {
    flex-direction: row;
    justify-content: center;
    padding-left: 57px;
    padding-top: 5px;
    position: absolute;
    left: 25.16vh;
}

.texto-inicial h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #725C5C;
    margin: 0 auto;
}

.texto-inicial p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
    margin: 0;
}

.texto-inicial h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6px;
    padding: 10px;
    padding-right: 0px;
    margin-right: 0px;
}

.dados-login {
    position: absolute;
    width: 72px;
    height: 18px;
    top: 17px;
    right: 41.29vh;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #333333;
}

.dados-login p {
    margin: 0;
    text-align: right;
    float: right;
}

.email {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

.login-img img {
    border-radius: 100%;
    margin-bottom: 9px;
    position: absolute;
}

.login-img {
    position: absolute;
    right: 36.77vh;
    top: 2.58vh;
    width: 30px;
    height: 30px;
}

.notificacao {
    background: red;
    color: white;
    border-radius: 100%;
    width: 10px;
    height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    padding-left: 2px;
    letter-spacing: -0.02em;
    position: relative;
    left: 23px;
}

.botao-seletor {
    position: absolute;
    width: 97px;
    height: 34px;
    right: 65vh;
    top: 17px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

#linguagem {
    border: none;
    background: #FDF1EB;
    position: absolute;
    padding: 5px 0px 5px 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/* Conteúdo principal */

.post-header {
    position: absolute;
    left: 250px;
    top: 90px;
    width: 100%;
}

.post-header span {
    position: absolute;
    left: 820px;
    margin-left: 15px;
    position: absolute;
    height: 25px;
    right: 0px;
    top: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 179%;
    letter-spacing: 0.05em;
    color: #ED7839;
}

.post-options {
    position: absolute;
    left: 845px;
    max-height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}

#download-button,
#favorite-button,
#doi-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    background: #ED7839;
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
}

.post-title {
    position: absolute;
    height: 54px;
    left: 0px;
    right: 273px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: #ED7839;
    width: 768px;
}

#video-content {
    position: absolute;
    left: 250px;
    top: 160px;
}

.container-video {
    position: absolute;
    width: 784px;
    height: 439px;
    left: 2px;
    background: url(../imgs/dewey\ 1.svg);
}

.container-video h3 {
    position: absolute;
    height: 54px;
    left: 34px;
    right: 297px;
    top: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 104%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 738px;
}

.autor {
    position: absolute;
    height: 36px;
    left: 134px;
    right: 473px;
    top: 300px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 74%;
    letter-spacing: 0.05em;
    color: #FFFFFF
}

.autor-local {
    position: absolute;
    height: 27px;
    left: 136px;
    right: 506px;
    top: 330px;
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.master-round {
    width: 84px;
    height: 86px;
    position: absolute;
    left: 25px;
    top: 290px;
    border-radius: 100%;
    border: 1px solid #ED7839;
}

.video-details {
    position: absolute;
    width: 242px;
    height: 439px;
    left: 816px;
    top: 0px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.details-title {
    position: absolute;
    width: 242px;
    height: 45px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
}

.p-details {
    position: absolute;
    width: 212px;
    top: 22px;
    left: 15px;
    bottom: 1273px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}

.details-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45px;
    padding: 14px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #5C5C5C;
}

.details-author {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2%;
}

.universities {
    letter-spacing: 2%;
    line-height: 16.8px;
    height: 100%;
    color: #5C5C5C;
}

.scroll {
    position: relative;
    left: 220px;
    /* bottom: 500px; */
}

.details-up-scroll {
    background: #bfbfbf;
    position: absolute;
    border-radius: 5px;
    width: 3px;
    height: 200px;
    bottom: 480px;
}

.details-down-scroll {
    background-color: #E7E7E7;
    border-radius: 5px;
    position: absolute;
    width: 3px;
    height: 200px;
    bottom: 300px;
}

/* Seção de Resumo */

#post-resume {
    position: absolute;
    right: 120px;
    left: 0px;
    bottom: 0px;
    top: 630px;
}

#textResume {
    display: none;
}

.title-resume {
    position: absolute;
    width: 66.1vw;
    height: 45px;
    left: 250px;
    top: 0px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #4E4E4E;
    padding-left: 15px;
}

#resumeContent {
    position: absolute;
    width: 66.1vw;
    height: 18.54vh;
    left: 250px;
    top: 43px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    text-align: justify;
}

#resumeContent p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding: 15px;
}

#showContent {
    color: #ED7839;
    font-weight: 700;
}

/* Seção de discussão */

#postDiscussion {
    position: absolute;
    right: 0px;
    left: 250px;
    bottom: 0px;
    top: 200px;
    margin-top: 30px;
    padding: 5px;
    width: 66.1vw;
    height: 621px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.title-discussion {
    position: absolute;
    width: 66.1vw;
    height: 45px;
    right: 0px;
    left: 0px;
    top: 0px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    border-radius: 3px 3px 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    display: flex;
    align-items: center;
    color: #4E4E4E;
    padding-left: 15px;
}

#homeTopic {
    position: relative;
    top: 50px;
    height: 100%;
    display: none;
    /* remover depois */
}

.message-topic2 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #595959;
    position: relative;
    top: 118px;
    left: 230px;
    width: 626px;
    text-align: center;
}

.message-topic {
    position: absolute;
    top: 15px;
    left: 310px;
    right: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ED7839;
}

.home-icons {
    position: absolute;
    top: 27px;
    right: 0px;
    left: 415px;
    padding-top: 27px;
}

.home-icons img {
    margin-right: 51px;
}

.create-topic-button {
    position: absolute;
    left: 460px;
    top: 170px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    position: absolute;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    text-align: center;
    color: #FFFFFF;
    width: 133px;
    height: 32px;
}

.div-button {
    position: absolute;
    width: 130vh;
    left: 15px;
    top: 186px;
    display: flex;
    justify-content: center;
    border: 1px solid #E7E7E7;
    z-index: -1;
}

.subject-question,
.subject-question2 {
    position: absolute;
    left: 24.17px;
    top: 17px;
    width: 100%;
    bottom: 21.06%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
}

.question-author,
.question-author2 {
    position: absolute;
    left: 24.17px;
    right: 45.11%;
    top: 40px;
    bottom: 19.75%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.topic-content,
.topic-content2 {
    position: absolute;
    left: 24.17px;
    right: 3.7%;
    top: 65px;
    bottom: 16.5%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
}

.painel-topic p,
.painel-topic2 p {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
    position: relative;
    left: 30px;
    margin-right: 15px;
    top: 6px;
}

.favorite-topic,
.favorite-topic2 {
    position: relative;
    background: #ED7839;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    width: 27px;
    left: 15px;
    height: 19px;
}

.favorite-topic img,
.favorite-topic2 img {
    padding-bottom: 14px;
}

#collapsedTopic {
    position: absolute;
    left: 1.42%;
    right: 1.51%;
    top: 270px;
    height: 148px;
    bottom: 1.09%;
    background: #ffff;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: none;
}

.painel-topic,
.painel-topic2 {
    position: absolute;
    top: 105px;
    left: 24.17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#collapsedTopic2 {
    position: absolute;
    left: 1.42%;
    right: 1.51%;
    top: 435px;
    height: 148px;
    bottom: 1.09%;
    background: #ffff;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: none;
}

.message-new-topic {
    position: absolute;
    left: 2.81%;
    right: 3%;
    top: 7.74vh;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5C5C5C;
}

.new-subject {
    position: absolute;
    top: 12.90vh;
    left: 1.09vw;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ED7839;
}

.new-subject-box {
    position: absolute;
    top: 15.48vh;
    left: 1.09vw;
    bottom: 146px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 64.09vw;
    height: 5vh;
    padding-left: 23.13px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    outline: none;
}

.new-content {
    position: absolute;
    top: 21.80vh;
    left: 2.26vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ED7839;
}

.new-content-box {
    position: absolute;
    left: 2.26vh;
    top: 24.77vh;
    width: 64.09vw;
    bottom: 0%;
    height: 113px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.content-box-options {
    position: absolute;
    left: -0.05%;
    right: 0%;
    top: 73%;
    bottom: 0%;
    height: 4vh;
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.content-box-options img {
    height: 10px;
    position: relative;    
    margin-left: 30px;
}

.send-topic-button {
    width: 12.81vw;
    height: 100%;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 80.1%;
}

.div-button2 {
    position: absolute;
    width: 130vh;
    left: 10px;
    top: 130px;
    border: 1px solid #E7E7E7;
}

footer {
    position: absolute;
    left: 237px;
    right: 0%;
    top: 200%;
    bottom: 0%;
}

/* Responsividade */

#responsiveMenu {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #ffff;
    position: absolute;
    top: 13px;
    padding-left: 10px;
    display: none;
}

@media (max-width: 999px) {

    #menuSide,
    #logoSide {
        display: block;
    }
}

@media (max-width: 700px) {
    #responsiveMenu {
        display: block;
    }

    .titulo-side {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        position: fixed;
    }

    #menuSide,
    #logoSide {
        display: none;
    }

    aside {
        background: transparent;
    }
}

@media (max-width: 270px) {
    .titulo-side h1 {
        display: none;
    }
}